<nav class="navbar-default navbar-static-side sidebar_nav_bc" role="navigation">
    <div id="demo" class="collapse" class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" style="height:115px;">
                    <span>
                         <img alt="image" class="admin_img img-responsive" src="../../../assets/img/1072293.png">
                    </span>
                </div>

            </li>
            <li>
                <a routerLink="hadoop" routerLinkActive="active"><i class="fa fa-search-plus"></i> <span class="nav-label">Hadoop Search</span></a>
            </li>

            <li>
                <a routerLink="lucene"><i class="fa fa-search-plus"></i> <span class="nav-label">Lucene Search</span></a>
            </li>

        </ul>

    </div>
</nav>
