/* #page-wrapper {
    min-height: 678px;
    margin-left: 0px;
} */


body{
    background-color: rgb(46, 59, 75);
}
.setDashColor{
    background-color: #fff;
}
#page-wrapper {
    min-height: 678px;
}